<h1>Listing tag_collections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tag_collections.each do |tag_collection| %>
      <tr>
        <td><%= tag_collection.name %></td>
        <td><%= link_to 'Show', tag_collection %></td>
        <td><%= link_to 'Edit', edit_tag_collection_path(tag_collection) %></td>
        <td><%= link_to 'Destroy', tag_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag collection', new_tag_collection_path %>
