<h1>Listing commercials</h1>

<table class="table table-bordered ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Image</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @commercials.each do |commercial| %>
      <tr>
        <td><%= commercial.name %></td>
        <td><%= commercial.url %></td>
        <td><%= commercial.image_id %></td>
        <td><%= link_to 'Show', commercial %></td>
        <td><%= link_to 'Edit', edit_commercial_path(commercial) %></td>
      <!--  <td><%# link_to 'Destroy', commercial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     -->  </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Commercial', new_commercial_path %>
